<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>

<h1>Choose your words</h1>
<form action="/madlib">Would you like to be Kanye? <br>
    <br> 
    <label for="person">Choose a person</label>
    <input type="text" name="person"><br> 

    <label for="emotion">Choose an emotional response</label>
    
    
    <select name="emotion">
        <option value="love">Love</option>
        <option value="hate">Hate</option>
        <option value="appreciate">Appreciate</option>
        <option value="understand">Understand</option>
    </select>
    <br>
    <label for="noun">Choose a noun</label>
    <input type="text" name="noun"><br>

    <label for="relationship">Choose a relationship noun</label>
    <input type="text" name="relationship"><br>

    <label for="opinion">Choose a opinion action</label>
    <input type="text" name="opinion"><br>

    <label for="plural-noun-1">Choose a plural-noun</label>
    <input type="text" name="plural-noun-1"><br>

    <label for="plural-noun-2">Choose a plural-noun</label>
    <input type="text" name="plural-noun-2"><br>

    <label for="adjective">Choose a long adjective </label>
    <input type="text" name="adjective"><br> 
 
    <input type="submit">
</form>
</body>
</html>