<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    You don't have to agree with {{person}} but the mob can't make me not <br><i style="color:red; font-size:35px">{{emotion}}</i> them. We are both <i style="color:blue; font-size:35px"> {{noun}} </i> energy.  He is my <br>
    <b style="color:purple; font-size:35px">{{relationship}}</b>. I <i style="color:green" >{{opinion}}</i> everyone. I don't agree with <br>everything <i style="color:red; font-size:35px">{{pluralNoun1}}</i> do. That's what makes us <b style="color:gold; font-size:35px">{{pluralNoun2}}. </b> And we <br>have the right to <i style="color:blue; font-size:35px>{{adjective}} </i>thought.
</body>
</html>